
<div class="input-wrapper">
  <div class="">
    <form [formGroup]="getUserFullName" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
      <mat-form-field appearance="outline" class="w-full md:max-w-full">    
        <input matInput formControlName="fullName" />
          <mat-error *ngIf="fullNameControl.hasError('required')">
            Name is required.
          </mat-error>
          <mat-error *ngIf="fullNameControl.hasError('minlength')">
            Name must be at least 2 characters.
          </mat-error>
          <mat-error *ngIf="!fullNameControl.errors?.['minlength'] && fullNameControl.hasError('pattern')">
            Letters, numbers, 1 space max between words.
          </mat-error>
      </mat-form-field>
      <button 
        mat-flat-button 
        type="submit" 
        class="flex-none !rounded-sm submit-button">
        Submit
      </button>
    </form>
  </div>  
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
</div>

